<div class="row col-md-12">
  <div class="col-md-3">
    <%= render partial: 'rooms' %>
  </div>

  <div class="col-md-9">
    <div class="jumbotron">
      <h4 class="display-4">
        <%= t('views.rooms.text_welcome') %>
      </h4>
      <hr />
    </div>
  </div>
</div>