<div class="row col-md-12">
  <div class="col-md-3">
    <%= render partial: 'rooms' %>
  </div>

  <div class="col-md-9">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
        Welcome to Pandora!
      </h4>

      <p>
        Nestle
      </p>

      <hr />

      <p>
        You can create or join a room from the sidebar.
      </p>
    </div>
  </div>
</div>